.Edit-profile-container {
  display: flex;
  flex-direction: column;
}

.Edit-container {
  display: flex;
}

.Account-edit-title {
  font-size: 1.125rem;
  font-weight: 500;
  color: #282828;
  letter-spacing: 0;
  line-height: 1.5rem;
  margin-top: 2.0625rem;
  margin-bottom: 1.5rem;
}

.Edit-form-row1 {
  display: flex;
}

.Edit-form-row1 label:nth-child(2) {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Edit-form-row2 {
  display: flex;
}

.Edit-form-row2 label:nth-child(2) {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Edit-form label {
  width: 100%;
  box-sizing: border-box;
}

.Edit-form-row3 {
  display: flex;
}

.Edit-form input,
.Edit-form select {
  padding-top: 0.9375rem;
  padding-left: 0.9375rem;
  padding-bottom: 0.9375rem;
  /* background: #dcdcdc; */
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  /* border: 1px solid #bebebe; */
  box-sizing: border-box;
}

.Edit-form input:disabled,
.Edit-form select:disabled {
  background-color: #dcdcdc;
  border: 1px solid #bebebe;
}

.Button-group-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.75rem;
}

.Basic-form-container {
  width: 100%;
}

.form-1,
.form-2,
.form-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
}

.form-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
}
.form-3 .form-item1 {
  grid-column: 1 / 2;
}
.form-3 .form-item2 {
  grid-column: 2 / 3;
}
.form-3 .form-item3,
.form-3 .form-item4 {
  grid-column: 1 / 3;
}
