.LoginPage-container {
  display: flex;
  background-color: #d8d8d8;
}

.LoginPage {
  background: #f3f3f3;
  box-sizing: border-box;
  margin: 3.75rem auto;
  padding: 2.25rem 3.75rem 0px 3.75rem;
  position: relative;
}

.LoginPage h3 {
  font-size: 2.25rem;
  color: #282828;
  line-height: 3rem;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.Signin-button {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.625rem;
  background: #054ada;
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Signin-button-disabled {
  background: #dcdcdc;
}

.Next-arrow {
  width: 18px;
  height: 18px;
  fill: #ffffff;
  padding-left: 0.5rem;
  vertical-align: middle;
}
