/* .LoginWithButtons {
  margin: auto;
} */

.LoginButton {
  width: 100%;
  padding-top: 0.8125rem;
  padding-bottom: 0.8125rem;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  font-weight: normal;
  justify-content: center;
  line-height: 1.5rem;
}

.LoginWithFacebook {
  background: #4568b2;
  color: #ffffff;
  margin-bottom: 0.5rem;
}

.LoginWithGoogle {
  background: #ffffff;
  color: #282828;
  border: 1px solid #dcdcdc;
}

.LoginDot {
  width: 1.5rem;
  height: 1.5rem;
  background: #d8d8d8;
  border-radius: 50%;
  margin-right: 0.75rem;
}
