.Radio-control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  padding-right: 0.9375rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.control-disable {
  background: #f5f5f5;
}

.Radio-control-container span {
  font-size: 0.875rem;
}

.t-shirt-container {
  display: flex;
  justify-content: space-between;
}

.t-shirt-container label {
  margin-top: 0.75rem;
  width: 100%;
}

/* .t-shirt-container label:nth-child(1) {
  margin-right: 12px;
}

.t-shirt-container label:nth-child(2) {
  margin-left: 12px;
} */

.t-shirt-container select {
  padding-left: 0.875rem;
}

.payment-method-container {
  display: flex;
  margin-bottom: 0.75rem;
}

.card-info-inner-container {
  display: flex;
  box-sizing: border-box;
}

.card-info-inner-container label {
  margin-top: 1.25rem;
  width: 100%;
}

/* .card-info-inner-container label:nth-child(2) {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.card-info-inner-container label:nth-child(3) {
  margin-right: 0.75rem;
} */

.address-info-container,
.address-info-container2 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.address-info-container label,
.address-info-container2 label {
  width: 100%;
}

.address-info-container label:nth-child(1) {
  margin-right: 0.75rem;
}

.address-info-container label:nth-child(2) {
  margin-left: 0.75rem;
}

.address-info-container2 label:nth-child(2) {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.Registration-agreement {
  font-size: 0.75rem;
  font-weight: normal;
  color: #282828;
  letter-spacing: 0;
  line-height: 1.25rem;
  margin-bottom: 11.5rem;
}

.Registration-agreement span {
  color: #054ada;
  cursor: pointer;
}

.input-disable {
  background-color: #dcdcdc;
}

.disable-text {
  color: #bebebe;
}
