.Event-detail-page-container {
  display: flex;
}

.Event-detail-register-button {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1.625rem;
  background: #054ada;
  font-size: 1rem;
  color: #ffffff;
  margin-top: 2.25rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}
